@font-face { font-family: glyphicons; src: url('../fonts/glyphicons-halflings-regular.ttf'); } 
i {font-family: glyphicons}
#BtLimpar {font-family: glyphicons}

body {
 margin: 0px;
 padding: 0px;
 background-color: white;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
} h1 {
 color: darkgray;
 margin: 0px;
} h6 {
	color: darkgray;
	margin: 0px;
}
